<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.PinkTheme"
        tools:targetApi="33">

        <activity
            android:name="com.orenkohavi.sidechatproxy.StartupScreen"
            android:theme="@style/Theme.PinkThemeActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.orenkohavi.sidechatproxy.ErrorDisplay" android:parentActivityName="com.orenkohavi.sidechatproxy.StartupScreen"/>
        <activity android:name="com.orenkohavi.sidechatproxy.SetupPhone" android:parentActivityName="com.orenkohavi.sidechatproxy.StartupScreen"/>
        <activity android:name="com.orenkohavi.sidechatproxy.SetupTwoFactor" android:parentActivityName="com.orenkohavi.sidechatproxy.SetupPhone"/>
        <activity android:name="com.orenkohavi.sidechatproxy.SetupAge" android:parentActivityName="com.orenkohavi.sidechatproxy.SetupTwoFactor"/>
        <activity android:name="com.orenkohavi.sidechatproxy.SetupEmail" android:parentActivityName="com.orenkohavi.sidechatproxy.SetupAge"/>
        <activity android:name="com.orenkohavi.sidechatproxy.SetupWaitForEmailVerification" android:parentActivityName="com.orenkohavi.sidechatproxy.SetupEmail"/>

        <activity android:name="com.orenkohavi.sidechatproxy.LoadingScreen" android:noHistory="true"/>

        <activity android:name="com.orenkohavi.sidechatproxy.PostsMain" android:theme="@style/Theme.NeutralTheme"/>
        <activity android:name="com.orenkohavi.sidechatproxy.FAQ"/>
    </application>

</manifest>