<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PinkTheme"
        tools:targetApi="33">

        <activity
            android:name=".StartupScreen"
            android:theme="@style/Theme.PinkThemeActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ErrorDisplay" android:parentActivityName=".StartupScreen"/>
        <activity android:name=".SetupPhone" android:parentActivityName=".StartupScreen"/>
        <activity android:name=".SetupTwoFactor" android:parentActivityName=".SetupPhone"/>
        <activity android:name=".SetupAge" android:parentActivityName=".SetupTwoFactor"/>
        <activity android:name=".SetupEmail" android:parentActivityName=".SetupAge"/>
        <activity android:name=".SetupWaitForEmailVerification" android:parentActivityName=".SetupEmail"/>

        <activity android:name=".LoadingScreen" android:noHistory="true"/>

        <activity android:name=".PostsMain" android:theme="@style/Theme.NeutralTheme"/>
        <activity android:name=".FAQ"/>
    </application>

</manifest>